#centerPic {
    border-radius: 50%;
    max-width: 100%;
    max-height: 90%;
    position: sticky;
}
.header {
    padding: 5%;
    padding-bottom: 0%;
    text-align: center;
}

.displayBlock {
    display: flex;
    flex-direction: row;
}

.right {
    text-align: right;
    width: 100%;
    padding-top: 1.5%;
    z-index: 1000;
}
.leftSideOfImage1 {
    margin-right: -45%;
}
.leftSideOfImage2 {
    margin-right: -35%;
    padding-top: 5px;
}
.leftSideOfImage3 {
    margin-right: -30%;
    padding-top: 5px;
}
.leftSideOfImage4 {
    margin-right: -19%;
    padding-top: 5px;
}

.leftSideOfImage5 {
    margin-right: -10%;
    padding-top: 5px;
}

.middle {
    margin: 0%;
    padding: 0px;
}

.left {
    text-align: left;
    width: 100%;
    padding-top: 1%;
}
.rightSideOfImage1 {
    margin-left: -45%;
}
.rightSideOfImage2 {
    margin-left: -35%;
    padding-top: 5px;
}
.rightSideOfImage3 {
    margin-left: -30%;
    padding-top: 5px;
}
.rightSideOfImage4 {
    margin-left: -19%;
    padding-top: 5px;
}

.description {
    text-align: center;
    margin-left: 35%;
    max-width: 30%;
}